#SQL Functions Assignment

1. Create a ranking of students based on score (highest first).

- select student_id,name,score,
dense_rank() over(order by score desc) as Rank_
from Student_Performance;

2.  Show each student's score and the previous student’s score (based on score order).

- select student_id,name,score,
lag(score,1) over(order
by score desc) as prev_std_score
from Student_Performance;

3. Convert all student names to uppercase and extract the month name from join_date.

- select upper(name) as Up_name,monthname(join_date) as join_month from Student_Performance;

4. Show each student's name and the next student’s attendance (ordered by attendance).

- select student_id,name,
lead(attendance,1) over(order by attendance desc) as nxt_std_attd
from Student_Performance;

5. Assign students into 4 performance groups using NTILE().

- select student_id,name,score,
ntile(4) over(order by score desc) as ntile_grp
from Student_Performance;

6. For each course, assign a row number based on attendance (highest first).

- select student_id,name,course,
row_number() over( partition by course order by score desc) as row_num
from Student_Performance;

7. Calculate the number of days each student has been enrolled (from join_date to today).
(Assume current date = '2025-01-01')

- select student_id,name,course,
datediff(now(),join_date) as no_of_enroll_date
from Student_Performance;

8. Format join_date as “Month Year” (e.g., “June 2023”).

- select student_id,name,course,
date_format(join_date,"%M-%Y") as join_date
from Student_Performance;

9. Replace the city ‘Mumbai’ with ‘MUM’ for display purposes.

- select student_id,name,city,
replace(city,"Mumbai","MUM") as rep_city
from Student_Performance;

10. For each course, find the highest score using FIRST_VALUE().

- select student_id,name,course,score,
first_value(score) over(partition by course order by score desc) as first_score_val
from Student_Performance;